@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

html *,
html *::after,
html *::before {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  user-select: none;
  overflow: hidden;
}

.liftA {
  position: absolute;
  width: 30%;
  height: 12.5vh;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.575);
  bottom: 0;
  border-radius: 5px;
  left: 10%;
  bottom: 0.8vh;
  box-shadow: 0px 3px 5px rgba(200, 200, 200, 0.7);
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  transition: transform 1000ms linear;
}

.liftA::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 10%;
  width: 1px;
  height: 60%;
  background-color: red;
}

.liftB {
  position: absolute;
  width: 30%;
  height: 12.5vh;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.575);
  right: 10%;
  bottom: 0.8vh;
  transform: translateY(-600%);
  box-shadow: 0px 3px 5px rgba(200, 200, 200, 0.7);
  border-radius: 5px;
  color: red;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  transition: transform 1000ms linear;
}

.liftB::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 10%;
  width: 1px;
  height: 60%;
  background-color: limegreen;
}

.panel {
  position: relative;
  width: 40%;
  height: 11vh;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px 0px 5px 0px;
  transition: opacity 300ms ease-in;
}

.panel button {
  flex: 1 1 40%;
  width: 20px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  border-radius: 2px;
  color: #298C93;
}

.panel button:hover {
  color: #9deaf0;
  cursor: pointer;
}

.panel button:nth-of-type(1) {
  order: 2;
}

.panel button:nth-of-type(2) {
  order: 1;
}

.panel button:nth-of-type(3) {
  order: 4;
}

.panel button:nth-of-type(4) {
  order: 3;
}

.panel button:nth-of-type(5) {
  order: 6;
}

.panel button:nth-of-type(6) {
  order: 5;
}

.panel button:nth-of-type(7) {
  order: 7;
}

.panel button.panel-open {
  color: white;
  font-size: 20px;
  text-shadow: 3px 3px 8px white, -3px -3px 10px white;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: black;
  z-index: 1;
  transition: transform 700ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.overlay h1 {
  color: rgba(255, 255, 255, 0.678);
  font-size: 110px;
  background: linear-gradient(to top, #283048, #859398);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.overlay h2 {
  color: rgba(255, 255, 255, 0.781);
  font-size: 45px;
  margin-bottom: 3vh;
}

.overlay h3 {
  color: rgba(255, 255, 255, 0.651);
  font-size: 23px;
  letter-spacing: 1px;
  line-height: 1.4;
  width: 55%;
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

main::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url(/img/city.jpg);
  background-size: cover;
  background-position: center bottom;
  opacity: 0.8;
}

.block {
  position: relative;
  width: 400px;
  max-width: 90%;
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7), -5px -5px 10px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
  border: 3px solid #f0bb0e36;
}

.block::before {
  position: absolute;
  content: 'A';
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px 10px rgba(255, 0, 0, 0.2);
  color: transparent;
  font-size: 200px;
}

.block::after {
  position: absolute;
  content: 'B';
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px 10px rgba(50, 205, 50, 0.205);
  color: transparent;
  font-size: 200px;
}

.myPosition {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.myPosition button {
  position: relative;
  color: white;
  height: 10vh;
  padding: 12px 16px;
  font-size: 18px;
  border: 1px solid #298C93;
  background-color: transparent;
  transition: all 100ms ease;
  cursor: pointer;
}

.myPosition button:hover {
  border: 1px solid green;
  color: rgba(255, 255, 255, 0.404);
}

button.light-up {
  color: black;
  border: 1px solid white;
  outline: 3px solid rgba(255, 255, 255, 0.603);
  outline-offset: -5px;
}

i.up-arrow {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: red;
  left: 0;
  top: 10%;
  opacity: 1;
  pointer-events: none;
}

i.down-arrow {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: red;
  left: 0;
  top: 65%;
  opacity: 1;
  pointer-events: none;
}

.light-ball {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}
/*# sourceMappingURL=style.css.map */