html {
	font-size: 100%;
	box-sizing: border-box;

	*,
	*::after,
	*::before {
		margin: 0;
		padding: 0;
	}
}
body {
	max-width: 100%;
	max-height: 100vh;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bolder;
	user-select: none;
	overflow: hidden;
}
// text
