.overlay {
	position: absolute;
	width: $w;
	height: $w;
	left: 0;
	top: 0;
	background: black;
	z-index: 1;
	transition: transform 700ms ease-in-out;
	padding-top: 30vh;
}

.overlay.animate {
	animation: vanish 1000ms ease-in-out forwards;
	@keyframes vanish {
		0% {
			transform: translateY(0%);
		}
		15% {
			transform: translateY(12%);
		}
		100% {
			transform: translateY(-100%);
		}
	}
}
.header {
	width: 100%;
	height: 30%;
	@include fEven(column);
	// border: $bd-white;
	h1 {
		font-size: 6rem;
		background: linear-gradient(to top, #283048, #859398);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-transform: uppercase;
		// text-align: center;
		span {
			opacity: 0;
		}
	}
	button {
		color: rgba(255, 255, 255, 0.6);
		font-size: 2rem;
		padding: 3px 10px;
		border: $bd-white;
		border-radius: 5px;
		outline: none;
		background: transparent;
		&:hover {
			color: limegreen;
			border: 1px solid $myBlue;
			border-radius: 5px;
			cursor: pointer;
		}
	}
}

span.animation {
	animation: opacity 200ms linear forwards;
	@keyframes opacity {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}

@media only screen and (max-width: 750px) {
	.header {
		margin-top: 5vh;
		span {
			font-size: 2rem;
		}
		h2 {
			font-size: 2rem;
			text-align: center;
		}
	}
}
